$--yellow: rgb(255, 238, 0);
// background: var(--yellow);

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  background: rgb(86, 193, 255);
  margin-top: 0.5vh;
  // margin-right: 5%;
  // margin-left: 5%;
  margin-bottom: 0.5vh;
  padding: 1vh;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
}

p {
  text-align: center;
  color: rgb(107, 0, 0);
  // margin-left: 5%;
}

.ProductList {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  width: 90%;
  border: 0px solid rgb(60, 79, 255);
  background-image: repeating-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(142, 247, 255));
  padding: 30px;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
  border-radius: 15px;
}

.ShoppingList {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  width: 90%;
  border: 0px solid rgb(25, 104, 15);
  background-image: repeating-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(154, 253, 171));
  padding: 30px;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
  border-radius: 15px;
}

.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  margin-bottom: 5px;
  width: auto;
  padding: 10px;
  text-align: left;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  background-image: linear-gradient(white 18%, rgb(182, 182, 182) 85%, grey);
  box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
}

.Products:focus {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  background-image: linear-gradient(45deg, rgb(255, 173, 173), rgb(146, 146, 255));
  transition: linear 1s;
  transform: scaleY(1.2);
  transform: scaleX(1.2);
  box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
}

.Products:hover {
  color: rgb(88, 0, 0);
  border: 1px solid black;
  background-image: linear-gradient(45deg, rgb(255, 173, 173), rgb(146, 146, 255));
  transition-timing-function: ease-in;
  transition: linear 1s;
  transform: scaleY(1.2);
  transform: scaleX(1.2);
  left: 48vw;
  box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
  opacity: 0.7;
  cursor: pointer;
}

.Products:active {
  transform: scaleY(-1.5);
  transform: scaleX(-1.5);
}