$--yellow: rgb(255, 238, 0);

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  background: rgb(86, 193, 255);
  margin-top: 0.5vh;
  // margin-right: 5%;
  // margin-left: 5%;
  margin-bottom: 0.5vh;
  padding: 1vh;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
}

.AppDetails {
  display: flex;
  flex-direction: column;
  // text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: rgb(86, 193, 255);
  margin-top: 1%;
  width: auto;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
  padding: 5vh;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
}

.Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: auto;
  height: auto;
  background-image: linear-gradient(white, grey);
  border-radius: 15px;
  border-style: outset;
  border-color: grey;
  padding: 5px;
}

.Arrow :hover {
  cursor: pointer;
  color: red;

}

.Arrow:active {
  transform: scaleY(1.5);
  transform: scaleX(1.5);
}

p {
  text-align: center;
  color: rgb(107, 0, 0);
  // margin-left: 5%;
}

ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

.ProductList {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  width: 90%;
  border: 0px solid rgb(60, 79, 255);
  background-image: repeating-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(142, 247, 255));
  padding: 30px;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
  border-radius: 15px;
}

.ShoppingList {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  width: 90%;
  border: 0px solid rgb(25, 104, 15);
  background-image: repeating-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(154, 253, 171));
  padding: 30px;
  box-shadow: 0 0 15px 5px rgb(255, 255, 255) inset;
  border-radius: 15px;
}

.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  margin-bottom: 5px;
  width: auto;
  padding: 10px;
  text-align: left;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  // background: var(--yellow);
  box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
}

.Products:focus {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  background: $--yellow;
  transition: linear 1s;
  transform: scaleY(1.2);
  transform: scaleX(1.2);
  box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
}

.Products:hover {
  color: rgb(88, 0, 0);
  border: 1px solid black;
  background: $--yellow;
  transition-timing-function: ease-in;
  transition: linear 1s;
  transform: scaleY(1.2);
  transform: scaleX(1.2);
  box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
  opacity: 0.7;
  cursor: pointer;
}

.Products:active {
  // transition: linear 2s;
  transform: scaleY(-1.5);
  transform: scaleX(-1.5);
  // transform: translateY(20px);
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }

.details {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px 10px rgb(255, 255, 255);
  line-height: 2;
}