.headerWrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  justify-content: center;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(170, 213, 255));
  margin-right: 20px;
  
  & button {
    box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
    border-radius: 10px;
  }

}

.filtersHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // height: 100px;
  width: 100%;

  background-image: linear-gradient(rgb(170, 213, 255), rgb(255, 255, 255));

  & h4 {
  margin-left: 15px;
  margin-right: 5px;
}
 
  & input[type='text'],
  textarea {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 0px rgb(114, 114, 114);
    height: 10 px;
    // border-radius: 5 px;
  }
}

.signedUserInfo {
  display: flex;
  align-items: center;
  margin-right: 24px;

  &>* {
    margin-left: 16px;
  }
}
