.appWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(185, 255, 176, 0.692);
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(169, 169, 169),
    // rgb(255, 255, 255),
  );
  & .title {
    border: 3px double rgb(97, 97, 97);
    display: table-cell;
    vertical-align: middle;
    // text-justify: center;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 30%;
    // display: flex;
    // margin-top: 10px;
    // margin-bottom: 10px;
    background-image: linear-gradient(
      rgb(181, 245, 255),
      rgb(255, 255, 255),
      rgb(181, 245, 255)
    );
  }
  & .description {
    font-size: 16px;
    text-align: justify;
    // height: 50px;
    // display: flex;
    margin-left: 30px;
    margin-right: 30px;
  }
}
.columnsWrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  display: flex;
  background-color: rgba(168, 246, 242, 0.692);
  // background-image: url("C:/git-private/git_private/react_zakupownik/src/img.gif");
}
p {
  color: grey;
}
