.appWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(185, 255, 176, 0.692)
}

.columnsWrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  // width: 80%;
  display: flex;
  height: calc(100vh - 100px);
  background-color: rgba(168, 246, 242, 0.692);
  // background-image: url("C:/git-private/git_private/react_zakupownik/src/img.gif");
}