:root {
  --gray: rgb(204, 204, 204);
  --lightblue: rgb(169, 255, 255);
  --white: rgb(255, 255, 255);
}

.loginPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 15%;
  background-image: radial-gradient(var(--lightblue),
      var(--white),
      var(--lightblue));
  border-radius: 15px;
  box-shadow: 10px 10px 10px 0px var(--gray);

  button {
    border: 1px solid black;
  }
}

.Inputs {

  input[type='text'],
  textarea {
    background-color: white;
    border-radius: 5px;
  }
}